body {
    background-image: url('images/galaxy_background.jpg');
    background-size: cover;
}

.header {
    width: 100vw;
    height:10vh;
    /*border: 1px solid black;*/
    /*background-color: #45d5e5;*/
    /*opacity: 0.5;*/
    visibility: visible;
    position: relative;
    text-align: center;
    z-index: -1;
}

.header img {
  position: absolute;
  width: 35vw;
  transform: translate(-50%,-0%);
  top: 0%;
  left: 50%;
  /*top: 10vh;*/
}


.footer {
  width:100%;
  height:5vh;
  border: 1px solid black;
  background-color: #45d5e5;
  opacity: 0.5;
  visibility: hidden;
}


.mainContent{
    width:100%;
    height:85vh;
    /*border: 1px solid black;*/
    padding: 5vmin;
}

.turn{
    position: absolute;
    float: left;
    width: 20vh;
    height: 10vh;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    border-radius: 1vmin;
    vertical-align:center;
    line-height:320%;
    background-color: rgba(0,0,0,0.6);
}

#firstPlayer{
    top:35%;
    left:10%;
    border: 2px solid rgba(50,205,50, 0.45);
}

#secondPlayer{
    top: 35%;
    right:10%;
    border: 2px solid rgba(255, 0, 128, 0.45);

}

.thingy {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        border: 1px solid rgba(50,205,50,1)
    }

    50% {
        border: 1px solid rgba(50,205,50,0.3)
    }

    100% {
        border: 1px solid rgba(50,205,50,1)
    }

}

.thingy2 {
    animation: pulse2 1s infinite;
}

@keyframes pulse2 {
    0% {
        border: 1px solid rgba(255,0,128,1)
    }

    50% {
        border: 1px solid rgba(255,0,128,0.3)
    }

    100% {
        border: 1px solid rgba(255,0,128,1)
    }

}


.container{
    width: 60vmin;
    height:60vmin;
    /*border: 1px solid white;*/
    top:50%;
    left:50%;
    margin: 0 auto;
    background-size: cover;
}
.row{
    width: 100%;
    height:12.5%;
    /*border: 1px solid black;*/
    display: block;
    margin: 0.5% 0;
    padding:0;
}

.square{
    width:11.5%;
    margin: 0 0.5%;
    height:99%;
    border: 1px solid rgba(240,240,240,0.45);
    border-radius: 1vmin;
    /*float: left;*/
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
}

.hamburger {
  position: fixed;
  top: 2vmin;
  right: 2vw;
  width: 4vmin;
  height: 3.5vmin;
  transition-duration: 1s;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger:hover .burger-line {
  background-color: rgba(200,200,200,0.9);
}

.burger-line {
  width: 100%;
  height: 20%;
  margin: 10% 0;
  background-color: rgba(200,200,200,0.5);
  border-radius: 1vmin;
  transition-duration: 0.5s
}

.slider-menu {
  width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -20vw;
  background: linear-gradient(to bottom left, black, transparent);
  transition-duration: 1s;
}

.slide-item {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  margin: 4vh 0;
  color: rgba(200,200,200,0.6);
  user-select: none;
  cursor: pointer;
}

.slide-item:hover {
  color: rgba(200,200,200,1);
}

/*.score-container {*/
  /*display: block;*/
  /*width: 60vmin;*/
  /*height: 5vmin;*/
  /*margin: 0 auto 3vmin auto;*/
  /*border: 1px solid black;*/
  /*visibility: hidden;*/
/*}*/

/*.whitescore, .blackscore {*/
  /*width: 50%;*/
  /*height: 100%;*/
  /*display: inline-block;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*text-align: center;*/
  /*line-height: 100%;*/
  /*font-size: 1.5rem;*/
/*}*/

/*.whitescore {*/
  /*color: black;*/
  /*background-color: white;*/
/*}*/

/*.blackscore {*/
  /*color: white;*/
  /*background-color: black;*/
/*}*/

html, body {
  margin: 0;
}

body *{
    box-sizing: border-box;
}
.black {
    height: 100%;
    width: 100%;
    background-color: limegreen;
    border-radius: 1vmin;
    border: 2px solid rgba(240,240,240,0.3);
}
.white {
  height: 100%;
  width: 100%;
  background-color: fuchsia;
  border-radius: 1vmin;
  border: 2px solid rgba(240,240,240,0.3);
}

.legalMove {
  height: 100%;
  width: 100%;
  /*background-color: rgba(190,180,170,0.21);*/
  border-radius: 1vmin;
  border: 2px solid rgba(176, 193, 244, 0.8)
}


/* CSS STYLING FOR MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 300px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(163, 15, 126, 0.66);
  }

  .modal-content {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 40%;
    border-radius: 10px;
  }

  .close {
    color: rgb(128,128,128);
    float: right;
    font-size: 30px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }
