body {
    background-image: url('images/galaxy_background.jpg');
    background-size: cover;
}

.header,
.footer{
    width:100%;
    height:10vh;
    border: 1px solid black;
    background-color: #45d5e5;
    opacity: 0.5;
}

.mainContent{
    width:100%;
    height:80vh;
    border: 1px solid black;
    padding: 5vmin;
}

.turn{
    border: 1px solid white;
    position: absolute;
    float: left;
    width: 20vmin;
    height: 10vmin;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    top:35%;
    left:10%;

}

.container{
    width: 50vmin;
    height:50vmin;
    border: 1px solid white;
    top:50%;
    left:50%;
    margin: 0 auto;
    background-color: red;
    opacity: 0.5;
}
.row{
    width: 100%;
    height:12.5%;
    /*border: 1px solid black;*/
    display: block;
    margin:0;
    padding:0;
}

.square{
    width:12.5%;
    height:100%;
    border: 1px solid black;
    float: left;
    display: inline-block;
}

.score-container {
  display: block;
  width: 50vmin;
  height: 10vmin;
  margin: 0 auto;
  border: 1px solid black;
}

.whitescore, .blackscore {
  width: 50%;
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 100%;
  font-size: 1.5rem;
}

.whitescore {
  color: black;
  background-color: white;
}

.blackscore {
  color: white;
  background-color: black;
}

html, body {
  margin: 0;
}

body *{
    box-sizing: border-box;
}
.black{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: black;
}
.white{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px black solid;
}
